<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Hello again {{name}}</h1>
  <p class="lead">We are glad to see that you are a person with guts!!</p>
  <hr class="my-4" />
  <h5>Come on! Don't waste your time and go to the quiz</h5>
  <div><!--
    
	{{#if user}}
	<a class="btn btn-success btn-lg" href="questions">Go to the quiz</a>
	<a class="btn btn-danger btn-lg" href="/logout">Logout</a>
	{{else}}
	<a class="btn btn-primary btn-lg" href="signin" role="button">Log in</a>
	<a class="btn btn-warning btn-lg" href="signup">Register</a>
	{{/if}}-->
	<a class="btn btn-success btn-lg" href="questions">Go to the quiz</a>
	<a class="btn btn-danger btn-lg" href="/logout">Logout</a>
  </div>
</div>