<div class="card">
	<div class="card-body">
		<h2><b>You must select one answer per question!!!</b></h2>
		<h5>Please repeat the <a href="/questions">quiz</a> or <a href="/logout">logout</a></h5>
	</div>
</div>



